Aplicación Hoteles/Connected Services/MetodosWeb_Hoteles/MetodosWeb_Hoteles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllFromHoteles">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFromHotelesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFromHotelesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllFromHotelesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFromHoteles" />
  </wsdl:message>
  <wsdl:message name="GetAllFromHotelesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFromHotelesResponse" />
  </wsdl:message>
  <wsdl:portType name="MetodosWeb_HotelesSoap">
    <wsdl:operation name="GetAllFromHoteles">
      <wsdl:input message="tns:GetAllFromHotelesSoapIn" />
      <wsdl:output message="tns:GetAllFromHotelesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetodosWeb_HotelesSoap" type="tns:MetodosWeb_HotelesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFromHoteles">
      <soap:operation soapAction="http://tempuri.org/GetAllFromHoteles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MetodosWeb_HotelesSoap12" type="tns:MetodosWeb_HotelesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFromHoteles">
      <soap12:operation soapAction="http://tempuri.org/GetAllFromHoteles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetodosWeb_Hoteles">
    <wsdl:port name="MetodosWeb_HotelesSoap" binding="tns:MetodosWeb_HotelesSoap">
      <soap:address location="https://localhost:44343/MetodosWeb_Hoteles.asmx" />
    </wsdl:port>
    <wsdl:port name="MetodosWeb_HotelesSoap12" binding="tns:MetodosWeb_HotelesSoap12">
      <soap12:address location="https://localhost:44343/MetodosWeb_Hoteles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>